//footer
.footer{

	margin-bottom: -18px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 15px;

	background-color: #000;
	color: #fff;
	font-size: .8rem;

	.author{

		margin-bottom: 0;
	}
}