@import "../components/bootstrap/scss/bootstrap";
@import "../components/font-awesome/scss/font-awesome";
@import "https://fonts.googleapis.com/css?family=Miss+Fajardose|Roboto+Condensed";
@import "_placeholder";

body{

	font-family: 'Roboto Condensed', sans-serif;

	.title{

		font-family: 'Miss Fajardose', cursive;
		font-size: 4rem;
	}
}

//home
.home{
	
	display: flex;
	justify-content: center;
	height: 100vh;	
	background: url(../img/slide-1.jpg) no-repeat fixed center;
}

.fix-nav{
	
	position: fixed;
	width: 100%;
	z-index: 100;
}

.nav{
	
	justify-content: center;
	
	.nav-list{

		display: flex;
		align-items: center;
		margin-bottom: 0;
		list-style-type: none;
		@extend %reseting-ul;

		.logo{

			font-family: 'Miss Fajardose', cursive;
			font-size: 5em;

			color: #e74c3c;
			text-transform: capitalize;
		}
	}
}

.nav-item{

	padding: 1rem;

	a{

		text-transform: uppercase;

		color: #fff;

		&:hover{

			color: #f0ad4e;
			text-decoration: none;
		}
	}

	.title-link{

		text-decoration: none;
	}
}

.call-home{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.title{

		color: #fff;
		font-size: 4em;
	}

	.subtitle{

		color: #fff;
		font-size: 2em;
	}

	.btn-call{

		font-size: 1.4em;
		font-family: 'Roboto Condensed', sans-serif;
		padding: .6em 1.8em;
		background-color: transparent;
		
		&:hover{
			
			cursor: pointer;
			background-color: darken(#f0ad4e, 15%);
		}
	}
}


//about
.about{
	
	display: flex;
	align-items: center;
	height: 100vh;

	background-color: #ecf0f1;

	.title{
		
		font-size: 4em;
		font-weight: 500;
		text-transform: capitalize;
		text-align: center;
		margin: 0 0 20px 0;
	}

	.description{
		
		font-size: 1.2em;
		text-align: center;
		line-height: 2em;
	}

	.subtitle{
		
		font-size: 1.4em;
		text-align: center;
		margin: 25px 0 0 0;
	}

	.social-media{

		display: flex;
		justify-content: center;
		list-style-type: none;
		@extend %reseting-ul;
		

		-webkit-margin-before: 10px;
		-webkit-margin-after: 0;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
		-webkit-padding-start: 0px;

		.list-social-media{

			margin: 5px;
		}

		a{

			color: #f0ad4e;
		}
	}
}

//service
.service{

	display: flex;
	align-items: center;
	height: 100vh;
	color: #fff;
	background: rgba(0, 0, 0, 0.8);
	
	.title{

		text-align: center;
		padding: 15px 0;
	}

	.subtitle{

		text-align: center;
	}
}

.list-service{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@extend %reseting-ul;
	
	li{

		list-style-type: none;

		&:first-child{

			margin-left: -15px;
		}
	}

	.img-service{

		margin-left: 15px;
	}

	.subtitle-img{

		text-align: center;
	}
}

//photos
.gallery-photos{
	
	height: 100vh;
	display: flex;
	align-items: center;

	.container-fluid{
		
		padding-top: 20px;
		padding-left: 1px;
		padding-right: 1px;
	}

	.title{

		text-align: center;
		margin: 15px 0;
	}

	.list-img{

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@extend %reseting-ul;

		li{

			list-style-type: none;
		}
		
		.img-photos{
			
			margin: 0;
			max-width: 371px;
			max-height: 249px;
			overflow: hidden;
						
			img{
			
				transform: scale(1.12);

				&:hover {
					
					cursor: pointer;
					transition: filter 0.35s, transform 0.35s;
					transform: scale(1);
					-webkit-filter: brightness(50%);
					-moz-filter: brightness(50%);
					-ms-filter: brightness(50%);
					-o-filter: brightness(50%);
					filter: brightness(50%);
				}
			}
		}
	}
}
